<launch>

  <arg name="board_ip" 		default="192.168.50.10" />
  <arg name="has_left_cam" 	default="true" />
  <arg name="has_right_cam" 	default="true" />
  <arg name="has_color_cam" 	default="true" />
  <arg name="stereo_cam_topic"  default="vrm3dvision" />
  <arg name="point_cloud_topic" default="point_cloud" />
  <arg name="point_cloud_trimmed_topic" default="point_cloud_trimmed" />

  <arg name="layers"		default="8" />

        <group ns="/vrm3dvision/">
                <node pkg="vrm3dvision" type="vrm_log_node" name="VrmLogNode" output="screen">
			<param name="vrm_board_ip" value="$(arg board_ip)" />
                </node>

                <node pkg="vrm3dvision" type="vrm_command_node" name="VrmCommandNode" output="screen">
			<param name="vrm_board_ip" value="$(arg board_ip)" />
                </node>

                <node pkg="vrm3dvision" type="vrm_image_proc" name="VrmImageProcNode" output="screen">
			<param name="vrm_board_ip" value="$(arg board_ip)" />
			<param name="has_left_camera" value="$(arg has_left_cam)" />
			<param name="has_right_camera" value="$(arg has_right_cam)" />
			<param name="has_color_camera" value="$(arg has_color_cam)" />
			<param name="stereo_camera_topic" value="vrm_stereo_camera" />
			<param name="color_cam_topic" value="$color_cam" />
			<param name="visualization" value="true" />
			<param name="no_of_layers_structured_light" value="$(arg layers)" />
			<param name="point_cloud_pub_topic" value="$(arg point_cloud_topic)" />			
			<param name="point_cloud_trimmed_pub_topic" value="$(arg point_cloud_trimmed_topic)" />
			<param name="publish_trimmed_point_cloud" value="true" />			
			<param name="z_trim_distance" value="0.415" />
                </node>		
		<node pkg="vrm3dvision" type="pcl_pointcloud_viewer" name="PCLPCviewer" output="screen">
			<param name="point_cloud_topic" value="$(arg point_cloud_topic)" />
		</node> 

		<node pkg="rqt_service_caller" type="rqt_service_caller" name="RqtServiceCaller" />
        </group>
</launch>
